<!DOCTYPE html><html><head><link rel='stylesheet' href='/css/style.css'></head><body><div class='wrap'><div class='card'>
<h2>Admin Login</h2><% if (error) { %><p><%= error %></p><% } %>
<form method='post'><input name='username' placeholder='Username'><input type='password' name='password' placeholder='Password'><button>Login</button></form></div></div></body></html>
